USE [master]
GO
/****** Object:  Database [DB_File]    Script Date: 4/23/2025 10:29:48 PM ******/
CREATE DATABASE [DB_File]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_File', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DB_File.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_File_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DB_File_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_File].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_File]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 4/23/2025 10:29:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductName] [varchar](100) NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[FilePath] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 4/23/2025 10:29:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[OrderDate] [datetime] NULL,
	[Status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/23/2025 10:29:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Email] [varchar](100) NULL,
	[Role] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([OrderItemId], [OrderId], [ProductName], [Quantity], [Price], [FilePath]) VALUES (1, 1, N'Laptop', 1, CAST(899.99 AS Decimal(10, 2)), N'C:\\Files\\Laptop_Invoice.pdf')
INSERT [dbo].[OrderItems] ([OrderItemId], [OrderId], [ProductName], [Quantity], [Price], [FilePath]) VALUES (2, 1, N'Mouse', 2, CAST(19.99 AS Decimal(10, 2)), N'C:\\Files\\Mouse_Image.jpg')
INSERT [dbo].[OrderItems] ([OrderItemId], [OrderId], [ProductName], [Quantity], [Price], [FilePath]) VALUES (3, 2, N'Keyboard', 1, CAST(49.99 AS Decimal(10, 2)), N'C:\\Files\\Keyboard_Manual.pdf')
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [UserId], [OrderDate], [Status]) VALUES (1, 2, CAST(0x0000B2C801512F03 AS DateTime), N'Processed')
INSERT [dbo].[Orders] ([OrderId], [UserId], [OrderDate], [Status]) VALUES (2, 3, CAST(0x0000B2C801512F03 AS DateTime), N'Pending')
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [Email], [Role]) VALUES (1, N'admin', N'admin@example.com', N'Admin')
INSERT [dbo].[Users] ([UserId], [Username], [Email], [Role]) VALUES (2, N'john_doe', N'john@example.com', N'User')
INSERT [dbo].[Users] ([UserId], [Username], [Email], [Role]) VALUES (3, N'jane_smith', N'jane@example.com', N'User')
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
USE [master]
GO
