USE [master]
GO
/****** Object:  Database [DB-products]    Script Date: 3/24/2025 12:21:32 AM ******/
CREATE DATABASE [DB-products]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB-products', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DB-products.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB-products_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DB-products_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB-products].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB-products]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 3/24/2025 12:21:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Model]    Script Date: 3/24/2025 12:21:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Model](
	[ModelID] [int] IDENTITY(1,1) NOT NULL,
	[ModelName] [nvarchar](255) NOT NULL,
	[CategoryID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ModelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 3/24/2025 12:21:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[ProductCode] [nvarchar](50) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[ModelID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [CategoryName]) VALUES (1, N'Electronics')
INSERT [dbo].[Category] ([CategoryID], [CategoryName]) VALUES (2, N'Clothing')
INSERT [dbo].[Category] ([CategoryID], [CategoryName]) VALUES (3, N'Home Appliances')
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Model] ON 

INSERT [dbo].[Model] ([ModelID], [ModelName], [CategoryID]) VALUES (1, N'Smartphone', 1)
INSERT [dbo].[Model] ([ModelID], [ModelName], [CategoryID]) VALUES (2, N'Jeans', 2)
INSERT [dbo].[Model] ([ModelID], [ModelName], [CategoryID]) VALUES (3, N'Refrigerator', 3)
SET IDENTITY_INSERT [dbo].[Model] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [ProductName], [ProductCode], [Price], [ModelID]) VALUES (1, N'iPhone 12', N'IP12', CAST(799.99 AS Decimal(10, 2)), 1)
INSERT [dbo].[Product] ([ProductID], [ProductName], [ProductCode], [Price], [ModelID]) VALUES (2, N'Blue Jeans', N'BJNS01', CAST(49.99 AS Decimal(10, 2)), 2)
INSERT [dbo].[Product] ([ProductID], [ProductName], [ProductCode], [Price], [ModelID]) VALUES (3, N'LG Fridge', N'LGFRG', CAST(1200.00 AS Decimal(10, 2)), 3)
SET IDENTITY_INSERT [dbo].[Product] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Product__2F4E024FF3E37D8A]    Script Date: 3/24/2025 12:21:32 AM ******/
ALTER TABLE [dbo].[Product] ADD UNIQUE NONCLUSTERED 
(
	[ProductCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Model]  WITH CHECK ADD  CONSTRAINT [FK_Model_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Model] CHECK CONSTRAINT [FK_Model_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Model] FOREIGN KEY([ModelID])
REFERENCES [dbo].[Model] ([ModelID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Model]
GO
USE [master]
GO
